
covid-safety-detection/.DS_Store
.DS_Store
dimention_reducation_analysis/.ipynb_checkpoints/factor_analysis_PCA-checkpoint.ipynb
cancer_tumor_clustering/.ipynb_checkpoints/k_means_assignment_2_raw-checkpoint.ipynb
cancer_tumor_clustering/.ipynb_checkpoints/k_means_assignment_2-checkpoint.ipynb
cancer_tumor_type_clustering/.ipynb_checkpoints/k_means_assignment_2-checkpoint.ipynb
cancer_tumor_type_clustering/.ipynb_checkpoints/k_means_assignment_2_raw-checkpoint.ipynb
